<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  {{- partial "head.html" . -}}
</head>
<body>
  <nav>
    <a href="/" class="nav-title">{{ .Site.Title }}</a>
    <button class="nav-menu-btn" type="button" aria-label="Menu" aria-expanded="false" data-menu-toggle>menu</button>
    {{ range .Site.Menus.main }}
      <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
    {{ end }}
    <button class="toggle" type="button" data-theme-toggle>
      light/dark
    </button>
  </nav>
  {{- block "main" . }}{{ end -}}
  <footer>&copy; 2026 Teïlo Millet</footer>
  <script defer src="{{ "site.js" | relURL }}"></script>
</body>
</html>
